[submodule "lib/CardDAV-PHP"]
	path = lib/CardDAV-PHP
	url = https://github.com/jens-maus/CardDAV-PHP.git
[submodule "lib/fritzbox_api_php"]
	path = lib/fritzbox_api_php
	url = https://github.com/jens-maus/fritzbox_api_php.git
[submodule "lib/vCard-parser"]
	path = lib/vCard-parser
	url = https://github.com/jens-maus/vCard-parser.git
